body {
  background: linear-gradient(135deg, #93C572, #c9f7a0);
  font-family: "Cairo", sans-serif;
  margin: 0;
  padding: 20px;
  animation: fadeAll 0.7s ease;
}

@keyframes fadeAll {
  from { opacity: 0; }
  to { opacity: 1; }
}

details {
  background: #ffffffdd;
  padding: 12px;
  border-radius: 15px;
  margin-bottom: 18px;
  box-shadow: 0 6px 14px rgba(0,0,0,0.18);
  transition: transform 0.3s;
}



@keyframes slide {
  from { opacity: 0; transform: translateY(-8px); }
  to { opacity: 1; transform: translateY(0); }
}

img {

 max-width: 100%;
  opacity: 1;
  animation: fade 0.6s ease-in;
}

 img.imcenter {
display:block;
margin:0 auto;
 margin-top:60px;
margin-bottom:10px;
 max-width: 100%;
  opacity: 1;
  animation: fade 0.6s ease-in;

}


@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
}

h1 {
  text-align: center;
  background: linear-gradient(to right, #005500, #66ff66);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 36px;
  font-weight: 800;
}

#topBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 12px 15px;
  border: none;
  color: white;
  background: #005500;
  border-radius: 10px;
  cursor: pointer;
  display: none;
  font-size: 20px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  transition: 0.3s;
}

#topBtn:hover {
  transform: scale(1.1);
}


.arrow-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  margin: 40px auto;
}

.arrow-vertical button {
  padding: 12px 25px;
  font-size: 18px;
  border: none;
  background: #2e7d32;
  color: white;
  cursor: pointer;
  position: relative;
  border-radius: 8px;
  margin-bottom: 40px;
  transition: 0.3s;
}

.arrow-vertical button::after {
  content: "⬇";
  position: absolute;
  left: 50%;
  bottom: -30px;
  transform: translateX(-50%);
  font-size: 26px;
  color: #1b5e20;
}

.arrow-vertical button:last-child {
  margin-bottom: 0;
}

.arrow-vertical button:last-child::after {
  content: "";
}

.arrow-vertical button:hover {
  background: #4caf50;
  transform: scale(1.08);
}


.top-left-button {
position : absolute;
top:10px;
left:10px;
z-index: 10;
}
