body {
  background: linear-gradient(135deg, #0a1a2f, #132f4c, #1b3b5f);
  font-family: "Cairo", sans-serif;
  margin: 0;
  padding: 20px;
  animation: fadeAll 0.7s ease;

}
details {
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}


@keyframes fadeAll {
  from { opacity: 0; }
  to { opacity: 1; }
}

details {
  background: #ffffffdd;
  padding: 12px;
  border-radius: 15px;
  margin-bottom: 18px;
  box-shadow: 0 6px 14px rgba(0,0,0,0.18);
  transition: transform 0.3s;
}



@keyframes slide {
  from { opacity: 0; transform: translateY(-8px); }
  to { opacity: 1; transform: translateY(0); }
}

img {
  max-width: 100%;
height: auto;
  opacity: 1;
  animation: fade 0.6s ease-in;
}

img.imcenter {
display:block;
margin:0 auto;
 margin-top:30px;
margin-bottom:10px;
 max-width: 90%;
  opacity: 1;
  animation: fade 0.6s ease-in;

}


@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
}

h1 {
  text-align: center;
  background: linear-gradient(to right, #005500, #66ff66);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 36px;
  font-weight: 800;
}





.arrow-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  margin: 40px auto;
}

.arrow-vertical button {
  padding: 12px 25px;
  font-size: 18px;
  border: none;
  background: #2e7d32;
  color: white;
  cursor: pointer;
  position: relative;
  border-radius: 8px;
  margin-bottom: 40px;
  transition: 0.3s;
}

.arrow-vertical button::after {
  content: "⬇";
  position: absolute;
  left: 50%;
  bottom: -30px;
  transform: translateX(-50%);
  font-size: 26px;
  color: #1b5e20;
}

.arrow-vertical button:last-child {
  margin-bottom: 0;
}

.arrow-vertical button:last-child::after {
  content: "";
}

.arrow-vertical button:hover {
  background: #4caf50;
  transform: scale(1.08);
}



@media (max-width: 600px) {
  body {
    padding: 10px;
  }

  h1 {
    font-size: 26px;
  }

  .arrow-vertical button {
    font-size: 16px;
    padding: 10px 18px;
  }
}


.center-p {
text-align:center;
  font-weight:bold;
}

.nxt a {
  display: inline-block;
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 8px 19px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  background-color: #04AA6D;
  color: #fff;             
}

.back-btn {
  float: left;
  border-color: #04AA6D;
}

.next-btn {
  float: right;
  border-color: #04AA6D;
}

.nxt a:hover {
  background-color: #038a58;
}
  .title-p {
	  color:#e6f1ff;
	  font-size:23px;
  }
